<div class="center jumbotron">
  <h1><%= t :welcome %></h1>
  <h2><%= t :signup_suggest %></h2>
  <%= link_to t(:sign_up), new_user_registration_path, class: "btn btn-lg col-md-offset-5 btn-primary" %>
</div>
