<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li></li>  
      </ul>
    </nav>
  </div>
</footer>
